body {
    margin: 0%;
    padding: 0%;
    font-family: "Helvetica";
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px; /* largura do scroll */
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #527853; /* cor do fundo do track */
}
::-webkit-scrollbar-thumb {
    background: #E0E3B6; /* cor do thumb */
}
::-webkit-scrollbar-thumb:hover {
    background: #555; /* cor do thumb quando hover */
}

.titulo {
    color: black;
    width: fit-content;

}

.navbar{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    text-align: center;
    width: 100%;
    height: 70px ;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #d0d6c0;
    position: fixed;
    
   
}
ul{
   
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
   
}

li{
    margin-right: 30px;
    float:  left; 
} 

.navbar a {
    color: black;
    text-decoration: none;
    
}

.navbar a:hover{
    color: darkgreen;
    transition: 0.3s;
}

.header {
    display: flex;
    
}

.container{
    height: 70px;
    width: 100%;
    align-items: center;
    display: flex;
    z-index: 500;
}
.container1{
    justify-content: column-reverse;
    display: flex;
}


.banner{
    /* background-image: url("../ImagensPlanoDeFundo/Tela1.png"); */
     /* background: url(../ImagensPlanoDeFundo/Goat_logo.jpeg);  */
    background-color: #133B2D; 
    
    background-size: cover;
    height: 800px;
}
.banner1{
    /* background-image: url(../ImagensPlanoDeFundo/sobre.png); */
    background-repeat: no-repeat;
    height: 800px;
    color: rgb(0, 0, 0);
    background-color: #133B2D;
}
.banner2{  /* modelo de negocio */
    /* background-image: url(../ImagensPlanoDeFundo/sobre.png); */
    background-color: #cac7a2;
    height: 170vh;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.Chefe{
    /* background-image: url(../ImagensPlanoDeFundo/início.png); */
    background-repeat: no-repeat;
    background-color: #cac7a2;
    
    height: 800px;
    color: rgb(0, 0, 0);
    
}


.banner .container{
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.banner1 .container1{
    justify-content: column;
    align-items: center;
     flex-direction: row; 
     font-size: large; 
}

.banner1 .container1 .ContainerNeto {
    background-color: #FCFFE0;
}
    
.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
    .banner2 .container2{
        /* justify-content: column; */
        align-items: center;
        height: 30%; 
        flex-direction: column; 
        font-size: large;
        /* padding: 1px; */
        display: flex;
        text-align: center;
        
    }
    .banner .container p {
        font-size: 30px;
    }
    .banner1 .container1 p {
        flex-direction: row-reverse;
        justify-content: flex-start;
        /* font-size: 32px; */
        /* width: 200px; */
    }
    
    .banner1 h1{
        display: flex;
        flex-direction: row;
        font-size: 40px;
    }
    
    .Goat{
        display: flex;
        text-align: center ;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        color: #fbf9f9;
        font-family: Yusei MogiC;
        font-weight: 500;
        height: 500;
        font-size: 150px;
        font-weight: 500;
        margin-bottom: 5px;
        margin-top: 1px;
}

.Diagnostico{
    display: flex;
    justify-items: center;
    color: #ffffff;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    justify-content: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

.SobreNos{
    width: 250px;
    margin-left: 30px;
    
}

.TextoSobre{
    font-size: 30px;
    width: 90%;
    margin-left: 50px;
    
}
.Imagem{
    margin-top: 80px;
    margin-right: 50px;
    margin-bottom: 90px;
    width: 600px;
    height: 600px;
    color: #cac7a2;
    
}
.ImagemModelo{
    width: 390px;
    height: 230px;
    padding: 5px;
    flex-shrink: 0;
}
.container .ImagemFundo{
    width: 100%;
    height: 100%;
    padding: 5px;
    flex-shrink: 0;
}


.ContainerNeto{
    display: flex;
    width: 100%;
    
    margin-left: 100px; 
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.ContainerNeto2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    
}

.Box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 545px;
    height: 500px;
    font-size: 17px;
    color: black;
}


.ContainerMaior1 {
    display: flex;
    justify-content: center;
   height: 100%;
   width: 100%;

}

.ContainerMaior1 .banner2 .container2 .ContainerNeto2 .Box .Modelo{
    padding: 10px;
    width: 400px;
    height: 580px;
    background-color: #FCFFE0;
    color: black;
}

.TituloModelo{
    justify-content: center;
    color: black;
    margin-top: 50px;
    margin-bottom: 70px;
font-size: 40px;
font-style: normal;
font-weight: 500;
text-shadow: #ffffff;
}

.QuemSou{
    display: flex;
}
.Box .Modelo {
    flex-direction: row;
    justify-content: space-between;
}
.Gerente{
    display: flex;
    align-items: center;
    margin-left: 150px;
}
.InputTexto{
    width: 639px;
    height: 383px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 4px solid #000;
    background: #FFF;
    padding: 50px;
    text-align:start;
    font-size: large;
}
.InputTexto1{
    width: 356px;
    height: 68px;
    border-radius: 8px;
    border: 4px solid #000;
    background: #FFF;
}
.InputTexto2{
    width: 276px;
    height: 68px;
    flex-shrink: 0;
    margin-right: 15px;
    border-radius: 8px;
    border: 4px solid #000;
    background: #FFF;
}
.BoxInput{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.ImagemContato{
    display: flex;
    justify-content: end;
    padding: 10px;
    margin: 0px;
    margin-top: 90px;
    width: 750px;
    height: 630px;
}
.Amor{
    display: flex;
    flex-direction: row;
   
    
}
.Contato{
    text-align: center;
    font-size: 50px;
  
}

.footer{
    height: 50px;
    width: 100%;
    background-color: rgba(63, 35, 5, 1);
}
.metade1{
    width: 30%;
}
.metade2{
    justify-content: flex-end;
    width: 30%;
}
.textoContato{
    margin: 0;
    display: flex;
    justify-content: center;
    color: #ffffff;
}
.Teste1{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

html {
    scroll-behavior: smooth; /* Adiciona rolagem suave em todo o documento */
  }
  

  .Chefe{
   
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.Chefe .ContainerS{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around
    
}

.Chefe .ContainerS h1{
    color: #ffffff;

}

.Chefe .ContainerS #input3{
    margin-top: 20px;
    width: 450px;
    height: 229px;
    margin-bottom: 120px ;

}

.Chefe .ContainerS #input2{
    width: 240px;
}

.Chefe .ContainerS span{
    width: 450px;
    flex-wrap:nowrap;
}

.Chefe .Iframe{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Iframe{
    display: flex;
}

.Chefe .Iframe .Map {
    width: 458px;
    height: 476.88px;
}
.mae{
    height: 500px;
}
.caixa1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FCFFE0;
    width: 307px;
    width: 307px;
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap;

}

.conteudo{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 20px;
    
}
.imagem1{
    height: 150px;
    width: 171px;
    border-radius: 15px;
    padding: 1%;

}
.pai{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 65%;
    align-items: center; 
}


