body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica";
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px; /* largura do scroll */
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #133B2D; /* cor do fundo do track */
}
::-webkit-scrollbar-thumb {
    background: #E0E3B6; /* cor do thumb */
}
::-webkit-scrollbar-thumb:hover {
    background: #555; /* cor do thumb quando hover */
}

.titulo {
    color: black;
    width: fit-content;

}

.navbar{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    text-align: center;
    width: 100%;
    height: 70px ;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #FCFFE0;
    position: fixed;
    transition: 250ms;
    
   
}
ul{
   
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
   
}

li{
    margin-right: 30px;
    float:  left; 
} 

.navbar a {
    color: black;
    text-decoration: none;  
}

.navbar a:hover{
    color: #133B2D;
    transition: 250ms;
}

.header {
    display: flex;
    
}

.container{
    height: 70px;
    width: 100%;
    align-items: center;
    display: flex;
    z-index: 500;
}
.container1{
    justify-content: column-reverse;
    display: flex;
}


.banner{
    /* background-image: url("../ImagensPlanoDeFundo/Tela1.png"); */
     /* background: url(../ImagensPlanoDeFundo/Goat_logo.jpeg);  */
    background-image: url(../assets/inicioplus.png); 
    
    background-size: cover;
    height: 800px;
}
.banner1{
    /* background-image: url(../ImagensPlanoDeFundo/sobre.png); */
    background-repeat: no-repeat;
    height: 800px;
    color: rgb(0, 0, 0);
    background-image: url(../assets/modelo.png);
    background-size: cover;

}
.banner2{  /* modelo de negocio */
    /* background-image: url(../ImagensPlanoDeFundo/sobre.png); */
    background-color: #bcb68b;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.Chefe{
    /* background-image: url(../ImagensPlanoDeFundo/início.png); */
    background-repeat: no-repeat;
    background-color: #133B2D;
    
    height: 800px;
    color: rgb(0, 0, 0);
    
}


.banner .container{
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.banner1 .container1{
    justify-content: column;
    align-items: center;
     flex-direction: row; 
     font-size: large; 
}

.banner1 .container1 .ContainerNeto {
    background-color: #FCFFE0;
}
    
.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
    .banner2 .container2{
        /* justify-content: column; */
        align-items: center;
        height: 100%; 
        flex-direction: column; 
        font-size: large;
        /* padding: 1px; */
        display: flex;
        text-align: center;
        flex-wrap: nowrap;
        
    }
    .banner .container p {
        font-size: 30px;
    }
    .banner1 .container1 p {
        flex-direction: row-reverse;
        justify-content: flex-start;
        /* font-size: 32px; */
        /* width: 200px; */
    }
    
    .banner1 h1{
        display: flex;
        flex-direction: row;
        font-size: 40px;
        margin-bottom: 0;
    }
    
    .Goat{
        display: flex;
        text-align: center ;
        justify-content: center;
        align-items: center;
        color: #fbf9f9;
        font-weight: 500;
        font-size: 100px;
        margin-bottom: 5px;
        margin-top: 1px;
}

.Diagnostico{
    display: flex;
    justify-items: center;
    color: #ffffff;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    justify-content: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

.SobreNos{
    width: 250px;
    margin-left: 80px;
    
}

.TextoSobre{
    font-size: 20px;
    width: 90%;
    margin-left: 50px;
    
}
.Imagem{
    margin-top: 80px;
    margin-right: 50px;
    margin-bottom: 90px;
    width: 600px;
    height: 600px;
    color: #cac7a2;
    
}
.ImagemModelo{
    width: 390px;
    height: 230px;
    padding: 5px;
    flex-shrink: 0;
    border-radius: 8px;
}
.container .ImagemFundo{
    width: 100%;
    height: 100%;
    padding: 5px;
    flex-shrink: 0;
}


.ContainerNeto{
    display: flex;
    width: 100%;
    margin-left: 100px; 
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 30px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.ContainerNeto2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 95vh;
    text-align: center;
}


.Box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 454px;
    font-size: 15px;
    color: black;
    text-align: center;
    height: 100px;
}

.box:hover{
   transform: scale(0.8);
}


.ContainerMaior1 {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}

.ContainerMaior1 .banner2 .container2 .ContainerNeto2 .Box .Modelo{
    padding: 10px;
    width: 400px;
    height: 500px;
    background-color: #FCFFE0;
    color: black;
    border-radius: 8px;
    transition: 250ms;
    
}

.ContainerMaior1 .banner2 .container2 .ContainerNeto2 .Box .Modelo:hover{
    transform: scale(1.1);
    transition: 250ms;
}

.TituloModelo{
    justify-content: center;
    color: white;
background-color: #133B2D;
    align-items: center;
    font-size: 40px;
    text-shadow: #ffffff;;
    width: 400px;
margin-bottom: 0;
} 


.QuemSou{
    display: flex;
}
.Box .Modelo {
    flex-direction: row;
    justify-content: space-between;
    background-color: #d0d6c0;
    height: 496px;
    width: 401px;
    
}
.Gerente{
    display: flex;
    align-items: center;
    margin-left: 150px;
}
.InputTexto{
    width: 450px;
    height: 270px;
    border-radius: 8px;
    border: 4px solid #000;
    background: #FFF;
    padding: 50px;
    text-align:start;
    margin-bottom: 10px;
    margin-top: 10px;
}
.InputTexto1{
    width: 356px;
    height: 60px;
    border-radius: 8px;
    border: 4px solid #000;
    background: #FFF;
    padding: 5px;
}
.InputTexto2{
    width: 276px;
    height: 60px;
    flex-shrink: 0;
    margin-right: 15px;
    border-radius: 8px;
    border: 4px solid #000;
    background: #FFF;
    padding: 5px;
}
.BoxInput{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.ImagemContato{
    display: flex;
    justify-content: end;
    padding: 10px;
    margin: 0px;
    margin-top: 90px;
    width: 750px;
    height: 630px;
}
.Amor{
    display: flex;
    flex-direction: row;
    
    
}
.Contato{
    text-align: center;
    font-size: 50px;
    
}

.btnContato{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 8px;
    height: 40px;
    width: 80%;
    background-color: #228B22;
    color: white;
    font-weight: 900;
    border-style: none;
    box-shadow: 6px 6px 0px #115D33; 
    margin-bottom: 29px;
    transition: 250ms;
}

.btnContato:hover{
    background-color: #115D33;
    box-shadow: 6px 6px 0px #228B22 ;
    transition: 250ms;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #FCFFE0;
   
}
.metade1{
    width: 30%;
}
.metade2{
    justify-content: flex-end;
    width: 30%;
}
.textoContato{
    margin: 0;
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 15px;
}
.Teste1{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

html {
    scroll-behavior: smooth; /* Adiciona rolagem suave em todo o documento */
}
  

  .Chefe{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.Chefe .ContainerS{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    background-image: url(../assets/inicioplus.png);
    background-size: cover;
}

.Chefe .ContainerS h1{
    color: #ffffff;
    
}

.Chefe .ContainerS #input3{
    margin-top: 20px;
    width: 450px;
    height: 229px;
    margin-bottom: 120px ;
    
}

.Chefe .ContainerS .tituloContato{
    display: flex;
    justify-content: center;
}

.Chefe .ContainerS #input2{
    width: 231px;
}

.Chefe .ContainerS span{
    width: 420px;
    flex-wrap:nowrap;
}

.Chefe .Iframe{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Iframe{
    display: flex;
}

.Chefe .Iframe .Map {
    width: 458px;
    height: 476.88px;
}
.mae{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/modelo.png);
    background-size: cover;
}
.caixa1{
    display: flex;
    flex-direction: column;
    background-color: #FCFFE0;
    width: 170px;
    align-items: center;
    padding: 50px;
    border: 2px solid #133B2D;
    border-radius: 8px;
    transition: 250ms;
}

.caixa1:hover{
    transform: scale(1.1);
    transition: 250ms;
}

.caixa1 h1{
    font-size: 25px;
}

.conteudo{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 20px;
    
}
.imagem1{
    width: 90px;
    border-radius: 15px;
    padding: 1%;
    margin-top: 10px;

}
.pai{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 65%;
    align-items: center; 
    margin: 50px auto 50px;
}
.ContainerMaior2 {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    
}

.Modelo12{
    display: flex;
    background-image: url(../assets/inicio.png);
    background-size: cover;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.CaixaGrande{
    display: flex;
    background-color: #e7e7d6;
    border-radius: 15px;
    width: 80%;
    justify-content: space-evenly;
}

.CaixaMaior{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 30px;
    background-color: #FCFFE0;
    border: 2px solid #133B2D;
    border-radius: 8px;   
}

.CaixaMaior1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 30px;  
    background-color: #FCFFE0;
    border: 2px solid #133B2D;
    border-radius: 8px;       
}

.CaixaMaior1 p{
    margin-top: -15px;
}

.CaixaMenor{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.CaixaMaior .Imagem2{
    width: 200px;
    height: 150px;
    border-style: none;
    transition: 250ms;
}

.CaixaMaior .Imagem2:hover{
    transform: scale(1.1);
    transition: 250ms;
}

.CaixaMaior1 .Imagem2{
    width: 200px;
    height: 150px;
    border-style: none;
    transition: 250ms;
}

.CaixaMaior1 .Imagem2:hover{
    transform: scale(1.1);
    transition: 250ms;
}

.CaixaMenor p {
    font-size: 20px;
    margin: 0;
    padding: 10px;
}

.CaixaMenor h1{
    text-align: center;
    font-size: 30px;
    margin-top: 0;
}

.CaixaImperGrande{
    display: flex;
    justify-content: center;
    margin: 50px;
}