body {
    padding: 0%;
    margin: 0%;
    font-family: "Helvetica Light";
}

.MaeDeTodos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3F2305;
    background-size: cover;
    height: 1004px;
    flex-direction: row-reverse;
}

.CaixaExplicacao {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 780px;
    background-color: antiquewhite;
    border-radius: 50px;
    height: 550px;
    box-shadow: 20px 20px 20px 7px black
}

.TituloComoFunciona {
    display: flex;
    font-size: 70px;
}

.TextoCalculadora {
    display: flex;
    height: 250px;
    width: 780px;
}

/* Tente Você Mesmo */

.CaixaTenteVoce {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 50px;
    width: 550px;
    height: 680px;
    box-shadow: 20px 15px 20px 10px black
}

.TextoTenteVoce {
    display: flex;
    font-size: 60px;
}

.CaixaDaInputs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Input_dados {
    display: flex;
    font-size: 25px;
    width: 330px;
    border-radius: 15px
}

.btn {
    display: flex;
    width: 180px;
    height: 70px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #914108;
    color: white;
    border: 0px;
    border-radius: 15px;
    box-shadow: 6px 8px 20px 5px black;
}
.CaixaMensagemReposta{
    display: flex;
    justify-content: center;

}
.MensagemDeReposta{
    display: flex;
    justify-content: center;
}